<h1>Music</h1>

<h2>Where to find your favorite music:</h2>
<h3><%= link_to 'Venues', venues_path %></h3>
<h3><%= link_to 'Events', events_path %></h3><br>

<h2>Who are we are grooving to right now:</h2>
<h3><%= link_to 'Bands', bands_path %></h3>
<h3><%= link_to 'Members', members_path %></h3>