<h1> Events </h1>
<% @events.each do |event| %>
  <h3><%= event.name %></h3>
  <%= link_to 'Edit', "/events/#{event.id}/edit" %>
  <%= link_to 'Delete', "/events/#{event.id}", method: :delete %>
  <p><br></p>
<% end %>