<%= link_to "New Venue", "/venues/new" %>
<% @venues.each do |venue| %>
  <h3><%= venue.name  %></h3>
  <p>Capacity: <%= venue.capacity %></p>
  <p><% venue.outdoor  %></p>
  <p>Date added: <%= venue.date_added %></p><br>
<% end %>